.buttom {
		display: block;
		font-weight: bold;
		color: #FFFFFF;
		border-style: solid;
		height: 100%;
		width: 100px;
		text-align: center;
		padding: 5px;
		text-decoration: none;
	}

	.buttom:hover {
		background-color: #4E4B56;
	}