.button-fun {
		display: block;
/*		font-weight: bold;*/
		color: #FFFFFF;
		border-style: solid;
		height: 50px;
		width: 120px;
		text-align: center;
		padding: 5px;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}

.button-fun:hover {
		background-color: #a97f80fc;
	}