.menu {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	margin:0;
	width: 100%;
	list-style-type: none;
}

.menu .drop-button {
	width: 60px;
	transition: .3s;
	color: #FFFFFF;
}

.menu .dropdown {
	color: #2D1C12;
}
.menu .dropdown:hover {
	background-color: #A97F80;
}

.menu .dropdown a {
	display: block;
	color: #FFFFFF;
	padding: 14px 16px;
	text-align: left;
	text-decoration: none;
}

.menu .dropdown:hover .dropdown-content {
	color: #2D1C12;
	background-color: #FFFFFF;
	position: absolute;
	display: block;
}

.menu .dropdown-content {
	transition: .3s;
	display: none;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu .dropdown-content a {
	color: #2D1C12;
}

.menu .dropdown-content a:hover {
	background-color: #f9f9f9;
}
